<div class="px-4">
  <p class="selectDestAccount" *ngIf="selectDestinationMessage">SELECT THE DESTINATION ACCOUNT</p>
  <div *ngIf="accountOneId != null" class="form-group">
    <div class="w-100"><hr></div>
    <input type="radio" name="operation" id="deposit" #deposit (click)="setOperation(deposit)"><label for="deposit" class="radioLabel">IN</label>
    <input type="radio" name="operation" id="withdraw" #withdraw (click)="setOperation(withdraw)"><label for="withdraw" class="radioLabel">OUT</label>
    <input type="radio" name="operation" id="transfer" #transfer (click)="setOperation(transfer)"><label for="transfer" class="radioLabel">TRANSFER</label>
    <br>
    <form (ngSubmit)="finalizarOperacao()">
      <div class="form-row py-3">
        <div class="col-2">
          <input class="form-control formFields" type="text" name="value" placeholder="Value" [(ngModel)]='value'>
        </div>
        <div class="col-4">
          <input class="form-control formFields" type="text" name="detail" placeholder="Detail" [(ngModel)]="detail">
        </div>
        <div class="col-1">
          <button class="operationBtn btn btn-success btn-block" (click)='finalizarOperacao()'>OK</button>
        </div>
      </div>
    </form>
  </div>
</div>