<div class="px-4">
  <div class="row listHead py-2">
    <span class="col listHeadName">NAME</span>
    <span class="col-2 listHeadBalance">BALANCE</span>
    <span class="col-1 listHeadClose">CLOSE</span>
  </div>
  <div class="py-2" *ngIf="accountList.length !== 0">
    <div class="form-row align-items-center listElement" *ngFor="let account of accountList; let i = index"
        (click)="selectAccount(i, account.accountId)"
        [class.selectedOne]="i == accountOneSelectedIndex"
        [class.selectedTwo]="i == accountTwoSelectedIndex"
        [class.disabled]="notSelectedAccounts.includes(i)">
      <span class="col contentSpan" *ngIf="account.status == true">{{account.name | titlecase}}</span>
      <span class="col-2 contentSpan" *ngIf="account.status == true">{{account.balance | currency}}</span>
      <span class="col-1 contentSpan listIndividualElement closeBox listIndividualElementClose"
      *ngIf="account.status == true"
      (click)="closeAccount(account)"
      [class.disabled]="notSelectedAccounts.includes(i)">&times;</span>
    </div>
  </div>
</div>