.disabled, .disabled span {
    color: rgb(218, 215, 215);
    pointer-events: none;
}

.listHead {
    font-weight: 500;
    font-size: 1.2em;
}

.listHeadBalance {
    padding: 1px;
}

.selectedOne {
    transform: scaleX(1.1);
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #7ca6db;
    font-weight: 500;
    color:white;
    padding-left: 4.5%;
    padding-right: 4.5%;
    box-shadow: 0px 0px 5px black;
}

.selectedTwo {
    transform: scaleX(1.1);
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #76bf62;
    font-weight: 500;
    color:white;
    padding-left: 4.5%;
    padding-right: 4.5%;
    box-shadow: 0px 0px 5px black;
    
}

.closeBox {
    width: 8%;
    text-align: center;
    font-size: 2em;
    color: #ff0000;
    padding: 0px;
}

@media (min-width: 900px) {

    .listElement:hover {
        color: black;
        background-color: rgb(245, 245, 245);
    }
    
    .closeBox:hover {
        width: 100%;
        text-align: center;
        font-size: 2em;
        color: white;
        background-color: #cb3939ff;
    }

}

@media (max-width: 700px) {

    .selectedOne, .selectedTwo {
        padding: 5px 0px;
    }

    .listHead {
        font-size: 1.7em;
    }

    .listHeadClose, .closeBox {
        max-width: 14%;
    }

    .listElement {
        font-size: 1.7rem;
    }

    .selectedOne, .selectedTwo {
        padding-left: 4.8%;
        padding-right: 4.8%;
    }

}

@media (max-width: 575.98px) { 
    .listHeadName, .listHeadBalance, .listHeadClose, .listElement {
        font-size: 1.1rem;
    }

    .selectedOne, .selectedTwo {
        transform: none;
        padding: 5px 0px;
    }

    .listElement .listBalance, .closeBox {
        padding-left: 0px;
    }

    .listHeadClose, .closeBox {
        max-width: 23%;
    }
 }

 @media (max-width: 400px) {


    .listHeadClose, .closeBox {
        max-width: 23%;
    }

 }