<form class="openAccountForm py-4 px-4" [formGroup]="openAccountFormFields" (ngSubmit)="openAccount()">
  <div class="form-row">
    <div class="col">
      <input class="form-control formFields" placeholder="Name" formControlName="accountName">
    </div>
    <div class="col">
      <input class="form-control formFields" placeholder="Balance" formControlName="balance">
    </div>
    <div class="col-2">
      <button type="submit" class="openBox form-control">OPEN</button>
    </div>
  </div>
</form>