.openBox {
    padding: 0;
    border: none;
    background: none;
    letter-spacing: 2px;
    font-weight: 600;
    color: #417ecc;
    font-size: 1em;
    
}

.openBox:hover {
    background-color: #417ecc;
    color: white;
    border-radius: 10px;
}

.formFields{
    color: #686868;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid black;
    font-size: 1em;
}



@media (max-width: 700px) {

    .formFields{
        font-size: 1.5em;
    }

    .openBox {
        font-size: 1.5em;
    }

}

@media (max-width: 575.98px) { 

    .openAccountForm  {
        padding: 0;
    }

    .formFields{
        font-size: 0.9em;
    }

    .openBox {
        font-size: 0.9em;
    } 

}

@media (max-width: 400px) {

    .formFields{
        font-size: 0.9em;
    }

    .openBox {
        font-size: 0.9em;
    }    

}