<div class="container custom-container">  
  <form class="mb-3 text-center" [formGroup]="openAccountFormFields" (ngSubmit)="openAccount()">
    <div class="col-md-5">
      <div class="form-group float-left">
        <input class="form-control" placeholder="Name" formControlName="accountName">
      </div>
      <div class="form-group float-left">
        <input class="form-control" placeholder="Balance" formControlName="balance">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success btn-lg btn-block">Open Account</button>
      </div>
    </div>
  </form>

</div>