<div class="container custom-container">
  <div class="col-md-12">
    <openaccount 
      [openAccountFormFields] = "openAccountFormGroup"
      (sendFormData) = "updateOpenAccountFormData($event)">
    </openaccount>
    <accountlist #accountlist 
      [accountList]="accounts"
      [accountSelectedIndex]="accountselectedindex"
      (accountSelectedEvent)=selectAccount($event)
      (closeAccountEvent)="closeAccount($event)">
    </accountlist>
    <movement 
      [accountId]="accountId"
      (updateAccountList)="getAllAccounts()">
    </movement>
  </div>
</div>